* {
    margin: 0;
    padding: 0;
}


/* header start */

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.logo-container {
    flex: 0 0 auto;
}

.logo-container img {
    width: 10rem;
    margin-top: 8vh;
    /* Adjusted margin-top value */
}

.header-elements {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-element {
    margin: 0 20px;
    /* Reduced margin */
    color: white;
    width: 7rem;
    /* Increased width */
}

.header-element-A {
    text-decoration: none;
    color: white;
}

@media (max-width: 767px) {
    .sticky-header {
        display: none;
    }
}


/*menu hamburguesa*/

.navbar {
    display: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo-movil {
    width: 80px;
    height: auto;
}

.hamburger-icon {
    font-size: 3rem;
    cursor: pointer;
    display: none;
    color: #fff;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

@media screen and (max-width: 767px) {
    .hamburger-icon {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.6);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .nav-links a {
        padding: 10px;
        text-align: center;
    }
    .navbar {
        display: flex;
    }
}


/*fin menu hamburguesa*/


/* header end */


/* footer */


/* Estilos para el footer */

.footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 9999;
    display: flex;
    justify-content: space-around;
}

.footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* Fondo transparente */
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque */
    z-index: 9999;
    display: flex;
    justify-content: space-around;
}

.footer p {
    margin: 0;
    text-align: left;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    align-self: flex-end;
}

.icon {
    width: 30px;
}


/* Estilos específicos para el contenedor de la taza de café */

.coffee {
    position: relative;
}

.coffee-mug {
    background: #3F2616;
    position: absolute;
    left: 50%;
    /* Centrar horizontalmente la taza */
    top: 50%;
    /* Centrar verticalmente la taza */
    transform: translate(-50%, -50%) scale(0.5);
    /* Centrar y reducir tamaño de la taza */
    width: 75px;
    /* Reducir tamaño de la taza */
    height: 75px;
    /* Reducir tamaño de la taza */
    border-radius: 50%;
    box-shadow: 0 0 0 5px #442918, 0 0 0 12.5px #3C2415, 0 0 0 21px #E4E6B2, 0 0 0 32.5px #EFF0D1, 0 60px 0 -12.5px #3C2415, 50px 35px 0 -12.5px #3C2415, 40px 70px 0 -5px #3C2415, 0px 105px 0 -27.5px #3C2415, 10px 125px 0 -32.5px #3C2415;
}

.coffee-mug::before {
    content: '';
    position: absolute;
    background: #EFF0D1;
    height: 40px;
    /* Reducir tamaño del asa */
    width: 30px;
    /* Reducir tamaño del asa */
    top: -42.5px;
    /* Ajustar posición del asa */
    right: -37.5px;
    /* Ajustar posición del asa */
    border-radius: 5px;
    box-shadow: inset 0px 25px 0 0px #EFF0D1;
    transform: rotate(45deg);
}

.coffee-mug::after {
    content: '';
    width: 10px;
    /* Reducir tamaño de los aros */
    height: 10px;
    /* Reducir tamaño de los aros */
    border-radius: 50%;
    position: absolute;
    border: 1.5px solid #77665C;
    /* Reducir tamaño de los aros */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.2;
    /* a little bit of animation */
    animation: rings 3s ease-out infinite;
}

@keyframes rings {
    to {
        width: 75px;
        /* Reducir tamaño de los aros */
        height: 75px;
        /* Reducir tamaño de los aros */
        opacity: 0;
    }
}


/* Media query para pantallas menores a 768px */

@media (max-width: 767px) {
    .footer {
        /* Estilos para el footer en pantallas menores a 768px */
        flex-direction: column;
        align-items: center;
        padding: 10px;
        /* Ajusta los estilos del footer para pantallas más pequeñas */
    }
    .social-icons {
        /* Estilos para los íconos sociales en pantallas más pequeñas */
        margin-top: 10px;
        align-self: center;
        width: 50%;
    }
    .coffee {
        display: none;
    }
}


/*fin de footer*/


/*index styles*/


/* content start */

.fullscreen-section {
    background-image: url('./assets/main-back.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Changed 100% to 100vh */
    position: relative;
    z-index: 1;
    padding-top: 10vh;
}


/* modal start */

.modal-container {
    position: fixed;
    /* Changed absolute to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    /* Removed "background-color: none;" */
    padding: 20px;
    padding-top: 0px;
    text-align: center;
}

.modal-title {
    color: white;
    margin-top: 2.5rem;
    /* Adjusted margin-top value */
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.modal-text {
    margin-left: 10%;
    /* Adjusted margin-left value */
    margin-right: 10%;
    /* Adjusted margin-right value */
    text-align: justify;
    color: white;
    font-size: 1rem;
}

.modal-text-1 {
    margin-left: 10%;
    /* Adjusted margin-left value */
    margin-right: 10%;
    /* Adjusted margin-right value */
    text-align: center;
    color: white;
    font-size: 1.5rem;
}


/* modal end */


/*index end*/


/* map styles */

.map-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 767px) {
    .map-content {
        flex-direction: column;
    }
    .address {
        align-self: center;
    }
}

.address {
    color: #fff;
    align-self: flex-start;
}

.address-subtitle {
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
    /* Adjusted margin-bottom value */
}

.address-text {
    font-family: sans-serif;
    font-size: 25px;
    text-align: left;
}

.map {
    border: #fff solid 2px;
    border-radius: 10px;
    width: 600px;
    height: 450px;
}

@media screen and (max-width: 767px) {
    .map-content {
        flex-direction: column;
    }
    .address {
        align-self: center;
    }
    .map {
        width: 100%;
        height: 300px;
    }
    .mapa {
        margin-top: 2vh;
    }
}

.invitation {
    margin-top: 5vh;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}

.map-tittle {
    color: #fff;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 5vh;
}


/*fin de map*/


/*menu page*/


/*carrousel*/

.menu-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.slider-container {
    position: absolute;
    max-width: 500px;
}

.slider {
    display: flex;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: -10vw;
}

.next-btn {
    right: -10vw;
}

@media screen and (max-width: 767px) {
    .prev-btn {
        top: 60vh;
        left: 10vw;
    }
    .next-btn {
        top: 60vh;
        right: 10vw;
    }
}


/*fin de carrousel*/


/*fin de menu*/


/*contacto*/

.contacto {
    padding-top: 16vh;
}

.contact-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 10vh;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input,
textarea {
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #3c3c3c;
    color: #f0f0f0;
    border-radius: 4px;
}

input[type="date"] {
    appearance: none;
    background-color: #3c3c3c;
}

button {
    padding: 10px;
    margin-top: 16vh;
    border: none;
    background-color: #f0f0f0;
    color: #1a1a1a;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6e6e6;
}


/*fin contacto*/